{% load i18n wagtailcore_tags %}

{% with details=page.detail %}
{% if page.open_round %}
  <div class="listing">
      <div>
        <img src="/media/{{ page.image }}" alt="{{page.title}}" />
        <div class="listing__details">
          <h3>{{ page.title }}</h3>
          {% if page.next_deadline %}
              <p class="listing__deadline">
                  <svg class="icon icon--calendar icon--medium"><use xlink:href="#calendar"></use></svg>
                  <span>{% trans "Next deadline" %}: {{ page.next_deadline|date:"M j, Y" }}</span>
              </p>
          {% endif %}
          {% if details %}
              <a href="{% pageurl details %}">
          {% endif %}
          <div class="listing__details--description">{{ page.description|safe }}</div>
          <a class="link link--button-secondary " href="{% pageurl page %}">{% trans "Apply" %}</a>
        </div>

      </div>
  </div>
{% endif %}
{% endwith %}
