@font-face {
    font-family: 'GlacialBold';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/glacial-bold.woff') format('woff');
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'GlacialItalic';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/glacial-italic.woff') format('woff');
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Glacial';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/glacial.woff') format('woff');
    text-rendering: optimizeLegibility;
}
